<h2>Список Насосов</h2>
<div>
  <button routerLink="/pumps/new" style="margin-right: 10px;">Добавить новый насос</button>
  <button routerLink="/materials" style="margin-right: 10px;">Управление материалами</button> 
  <button routerLink="/motors">Управление моторами</button> </div>
<table>
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Мотор</th>
      <th>Материал корпуса</th>
      <th>Материал рабочего колеса</th>
      <th>Макс. давление</th>
      <th>Температура жидкости</th>
      <th>Вес</th>
      <th>Цена</th>
      <th>Описание</th>
      <th>URL изображения</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pump of pumps">
      <td>{{ pump.pumpName }}</td>
      <td><a [routerLink]="['/motors', pump.motorDetails?.id]" style="cursor: pointer; color: blue; text-decoration: underline;">
    {{ pump.motorDetails?.name }}
  </a> </td>
      <td><a [routerLink]="['/materials', pump.housingMaterialDetails?.id]" style="cursor: pointer; color: blue; text-decoration: underline;">
    {{ pump.housingMaterialDetails?.name }}
  </a> </td>
      <td><a [routerLink]="['/materials', pump.wheelMaterialDetails?.id]" style="cursor: pointer; color: blue; text-decoration: underline;">
    {{ pump.wheelMaterialDetails?.name }}
  </a> </td>
      <td>{{ pump.maxPressure }} бар</td>
      <td>{{ pump.liquidTemperatureCelsius }} °C</td>
      <td>{{ pump.weightInKilograms }} кг</td>
      <td>{{ pump.priceInRubles }} руб.</td>
      <td>{{ pump.pumpDescription }}</td>
      <td>{{ pump.imageUrlPath }}</td>
      <td>
        <a [routerLink]="['/pumps/edit', pump.id]">Редактировать</a>
        <button (click)="deletePump(pump.id)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!pumps.length">Нет данных о насосах.</div>